<!DOCTYPE html>
<html lang="en">

<body>
<body>
<div class="container-fluid">
    <div class="container cus_main_row">

        <div class="row">
            <h2 class="pos-header-new">
                <div>PermissionMaster</div>
            </h2>

        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body" style="height: 65px;">
                        <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="input-group" style="display: block;">
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9 col-lg-7 col-sm-9 col-xs-7">

                            <div class="form-group">

                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <button type="button" class="btn btn-default hi_btn"  ng-click="addpermissionmaster()">Add</button>

                                </div>

                                <!--<div class="col-sm-3">-->
                                    <!--<button type="button" class="btn btn-default hi_btn"-->
                                            <!--ng-click="implortpermissionmasterpopup()">-->
                                        <!--{{'importpermissionmaster'|translate}}-->
                                    <!--</button>-->
                                <!--</div>-->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="table_wrap fixed-table-container-inner">
                            <div class="header-background"></div>
                            <table data-toggle="table" data-cache="false" data-height="299"
                                   class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                <thead>
                                <tr>

                                    <th data-field="edit">
                                        <div class="th-inner">description</div>
                                    </th>
                                    <th data-field="edit">
                                        <div class="th-inner">status</div>
                                    </th>
                                    <th data-field="edit">
                                        <div class="th-inner">edit</div>
                                    </th>
                                    <th data-field="edit">
                                        <div class="th-inner">delete</div>
                                    </th>

                                </tr>
                                </thead>
                                <tbody id="parentTable">

                                <input type="hidden" ng-model="pmId" value="{{permissionmaster.pmId}}"/>
                                <tr ng-repeat="permission in permissionmaster| filter:searchText">


                                    <td>{{permission.description}}</td>
                                    <td>{{permission.saasStatus}}</td>
                                    <td><a id="edit_{{$index}}" href="javascript:void(0)" ng-click="editmaster(permission)" class="edit"><i class="fa fa-pencil-square-o fa-fw orange"></i></a></td>
                                    <td><a id="delete_{{$index}}" href="javascript:void(0)" ng-click="deletemaster(permission)" class="delete"><i  class="fa fa-trash-o fa-fw orange"></i></a></td>



                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<form class="form-horizontal" id="permissionDetails" method="post"-->
                          <!--ng-submit="savepermissionmasterImport()">-->
                        <!--<div class="modal fade" tabindex="-1" id="import_permission" role="dialog"-->
                             <!--data-backdrop="static"-->
                             <!--aria-labelledby="mySmallModalLabel_1">-->
                            <!--<div class="modal-dialog modal-lg">-->
                                <!--<div class="modal-content">-->
                                    <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal"-->
                                                <!--aria-label="Close"><span-->
                                                <!--aria-hidden="true">&times;</span></button>-->
                                        <!--<h4 class="modal-title">{{'import_permission'|translate}}</h4>-->
                                    <!--</div>-->
                                    <!--<a href="resource\static.resource.ImportSheets\PermissionMaster.xlsx" download>{{'download_excelsheet'|translate}}</a>-->
                                    <!--<div class="modal-body checkout-body">-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<div class="col-xs-5">-->
                                                    <!--<input type="file" name="myFile" id="myFile"/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="modal-footer">-->
                                        <!--<button type="submit" class="btn btn-default" data-toggle="modal">-->
                                            <!--{{'save'|translate}}-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">-->
                                            <!--{{'close'|translate}}-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                    <div class="modal fade addCustomer" tabindex="-1" id="edit_new_master_modal" role="dialog"
                         data-backdrop="static"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content checkout">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 id="permissionn-title" class="modal-title">Edit permission</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <form class="form-horizontal" name="form">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <input type="hidden" ng-model="setupobj.id"
                                                               value="{{setupobj.id}}"/>
                                                            <label class="col-md-4 col-sm-4 control-label">permissionmasterkey</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="permissionMasterkey" name="permissionMasterkey"
                                                                       type="text"
                                                                       placeholder="permissionmasterkey"
                                                                       ng-model="permissionmasterkey"
                                                                       ng-value="setupobj.permissionmasterkey"
                                                                       maxlength="20"
                                                                       class="form-control input-md" autocomplete="off"
                                                                       required >
                                                            </div>
                                                        </div>


                                                        <div class="form-group">

                                                            <label class="col-md-4 col-sm-4 control-label">description</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="description" name="description"
                                                                       type="text" placeholder="description"
                                                                       ng-model="descriptiont"
                                                                       ng-value="setupobj.descriptiont" maxlength="20"
                                                                       class="form-control input-md" autocomplete="off"
                                                                       required >
                                                            </div>
                                                        </div>
                                                        <!--<div class="form-group">-->
                                                            <!--<label class="col-md-4 col-sm-4 control-label" for="">status</label>-->
                                                            <!--<div class="col-md-6 col-sm-6">-->
                                                                <!--<select name="itemStatus" id="itemStatus" ng-model="status"-->
                                                                        <!--class="form-control input-md" required>-->
                                                                    <!--<option value="Active">Active</option>-->
                                                                    <!--<option value="InActive">InActive-->
                                                                    <!--</option>-->
                                                                <!--</select>-->
                                                            <!--</div>-->
                                                        <!--</div>-->


                                                        <!--<div class="form-group">-->

                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="modal fade addCustomer" tabindex="-1" id="add_new_master_modal" role="dialog"
                         data-backdrop="static"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content checkout">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 id="permission-title" class="modal-title">Add permission</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <form class="form-horizontal" name="form">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">featureName</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <select id="pgId" name="pgId" ng-model="pgId" ng-options="PermissionGroup.pgId as
										                   	PermissionGroup.featureName for PermissionGroup in permissiongroupList"
                                                                    class="form-control input-md"
                                                                   >
                                                            <!--<select id="pgId" name="pgId" ng-model="pmId" ng-options="permissions.pmId as-->
										                   	<!--permissions.description for permissions in firstLevelPermissionList"-->
                                                                    <!--class="form-control input-md"-->
                                                                    <!--ng-change='getSecondLevelmaster(pmId)'>>-->
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">level1
                                                        </label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <select id="pgId" name="pgId" ng-model="pmId" ng-options="permissions.pmId as
                                                            permissions.description for permissions in firstLevelPermissionList"
                                                            class="form-control input-md"
                                                            ng-change='getSecondLevelmaster(pmId)'>>

                                                            <!--<select id="pmId" name="pmId" ng-model="permId" ng-options="PermissionMaster.pmId as-->
										                   	<!--PermissionMaster.description for PermissionMaster in SecondLevelPermissionList"-->
                                                                    <!--class="form-control input-md">-->
                                                                <option value="">select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">level2</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <select id="pmId" name="pmId" ng-model="permId" ng-options="PermissionMaster.pmId as
                                                            PermissionMaster.description for PermissionMaster in SecondLevelPermissionList"
                                                            class="form-control input-md"  class="form-control input-md"
                                                                    ng-change='getthirdLevelmaster(permId)'>

                                                            <!--<select id="level2" name="level2" ng-model="level2"-->
                                                                    <!--ng-options="PMasterIdNotNull.level2 as-->
										                   	<!--PMasterIdNotNull.description for PMasterIdNotNull in secondLevelMaster"-->
                                                                    <!--class="form-control input-md" ng-change='(level2)'>>-->
                                                                <option value="">select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">level3</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <select id="pmId" name="pmId" ng-model="perm3" ng-options="PermissionMaster.pmId as
                                                            PermissionMaster.description for PermissionMaster in thirdLevelPermissionList"
                                                                    class="form-control input-md"  class="form-control input-md"
                                                                    ng-change='getfourthLevelmaster(perm3)'>


                                                                <!--<select id="level2" name="level2" ng-model="level2"-->
                                                                <!--ng-options="PMasterIdNotNull.level2 as-->
                                                                <!--PMasterIdNotNull.description for PMasterIdNotNull in secondLevelMaster"-->
                                                                <!--class="form-control input-md" ng-change='(level2)'>>-->
                                                                <option value="">select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">level4</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <select id="pmId" name="pmId" ng-model="perm4" ng-options="PermissionMaster.pmId as
                                                            PermissionMaster.description for PermissionMaster in fourthLevelPermissionList"
                                                                    class="form-control input-md"  class="form-control input-md">


                                                                <!--<select id="level2" name="level2" ng-model="level2"-->
                                                                <!--ng-options="PMasterIdNotNull.level2 as-->
                                                                <!--PMasterIdNotNull.description for PMasterIdNotNull in secondLevelMaster"-->
                                                                <!--class="form-control input-md" ng-change='(level2)'>>-->
                                                                <option value="">select</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-md-4 col-sm-4 control-label">permissionmasterkey</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="permissionMasterkey" name="permissionMasterkey"
                                                                   type="text"
                                                                   placeholder="permissionmasterkey"
                                                                   ng-model="permissionMasterkey"
                                                                   ng-value="setupobj.permissionMasterkey"
                                                                   maxlength="20"
                                                                   class="form-control input-md" autocomplete="off"
                                                                   required>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">

                                                        <label class="col-md-4 col-sm-4 control-label">description</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="description" name="description"
                                                                   type="text" placeholder="description"
                                                                   ng-model="descriptiont"
                                                                   ng-value="setupobj.descriptiont" maxlength="20"
                                                                   class="form-control input-md" autocomplete="off"
                                                                   required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">status</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <select name="itemStatus" id="itemStatus" ng-model="status"
                                                                    class="form-control input-md" required>
                                                                <option value="Active">Active</option>
                                                                <option value="InActive">InActive
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-toggle="modal"
                                                        id="submit"
                                                        ng-click="savepermisssionmaster()">save

                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        ng-click="removepermissionmaster()" data-dismiss="modal"> close

                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>